<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="trace">
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%date{ABSOLUTE} [%thread] %-5level %logger{1}.%method - %message%n</Pattern>
            </PatternLayout>
        </Console>
        <RollingFile name="file" fileName="logs/dough.log"
                     filePattern="logs/dough-%d{yyyyMMdd}-%i.log.gz">
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="logs" followLinks="true">
                    <IfFileName regex="^dough-\d{8}-\d+.log.gz$"/>
                    <IfLastModified age="30d"/>
                </Delete>
            </DefaultRolloverStrategy>
            <PatternLayout>
                <Pattern>%date [%thread] %-5level %logger - %message%n</Pattern>
            </PatternLayout>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="name.mutant.dough" level="debug"/>
        <Root level="info">
            <AppenderRef ref="stdout"/>
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>
</Configuration>
