body {
    background-color: #e8e8e8;
}

@media ( min-width : 768px) {
    body {
        background: white url('../images/bg-sm.png') repeat-y center;
    }
}

@media ( min-width : 992px) {
    body {
        background: white url('../images/bg-md.png') repeat-y center;
    }
}

@media ( min-width : 1200px) {
    body {
        background: white url('../images/bg-lg.png') repeat-y center;
    }
}

/* Standardize placeholder styles across all browsers. */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #999999;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #999999;
    opacity: 1;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #999999;
}
:-moz-placeholder { /* Firefox 18- */
    color: #999999;
    opacity: 1;
}
/* ... and for dropdown boxes. */
.placeholder {
    color: #999999;
}

.header {
    background-color: Gray;
}

.content {}

.footer {
    background-color: DarkGray;
}