<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<header th:replace="fragments/menu::menu"></header>
<main class="container">
    <h1>Statement</h1>
    <div th:replace="fragments/alerts::alerts"></div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Account</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.acct}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Open Balance</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${#numbers.formatCurrency(view.openBalance)}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Credits</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${#numbers.formatCurrency(view.credits)}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Debits</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${#numbers.formatCurrency(view.debits)}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Fees</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${#numbers.formatCurrency(view.fees)}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Interest</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${#numbers.formatCurrency(view.interest)}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Close Balance</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${#numbers.formatCurrency(view.closeBalance)}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Minimum Due</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${#numbers.formatCurrency(view.minimumDue)}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Due Date</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${#dates.format(view.dueDate,'M/d/yyyy')}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Close Date</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${#dates.format(view.closeDate,'M/d/yyyy')}"></p>
        </div>
    </div>

    <a class="btn btn-primary" th:href="@{/stmtEdit(id=${view.id})}">Edit</a>
</main>
<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>
