<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<header th:replace="fragments/menu::menu"></header>
<main class="container">
    <h1>Statement Edit</h1>
    <div th:replace="fragments/alerts::alerts"></div>

    <form action="#" method="post" th:action="@{/stmtEdit}" th:object="${editForm}">
        <ul class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
            <li th:each="err:${#fields.allErrors()}" th:text="${err}"></li>
        </ul>
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{version}"/>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Account</label>
            <div class="col-sm-9">
                <select class="form-control" th:field="*{acctId}" th:errorclass="is-invalid">
                    <option value="">Please select ...</option>
                    <option th:each="acct:${allAcct}" th:value="${acct.id}" th:text="${acct}"></option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Open Balance</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{openBalance}" th:errorclass="is-invalid"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Credits</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{credits}" th:errorclass="is-invalid"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Debits</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{debits}" th:errorclass="is-invalid"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Fees</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{fees}" th:errorclass="is-invalid"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Interest</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{interest}" th:errorclass="is-invalid"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Close Balance</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{closeBalance}" th:errorclass="is-invalid"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Minimum Due</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{minimumDue}" th:errorclass="is-invalid"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Due Date (m/d/y)</label>
            <div class="input-group date col-sm-9" id="dueDatePicker" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input" data-target="#dueDatePicker"
                       th:field="*{dueDate}" th:errorclass="is-invalid"/>
                <div class="input-group-append" data-target="#dueDatePicker" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fas fa-calendar"></i></div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Close Date (m/d/y)</label>
            <div class="input-group date col-sm-9" id="closeDatePicker" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input" data-target="#closeDatePicker"
                       th:field="*{closeDate}" th:errorclass="is-invalid"/>
                <div class="input-group-append" data-target="#closeDatePicker" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fas fa-calendar"></i></div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</main>
<footer th:replace="fragments/footer::footer"></footer>
<script>
    $("#dueDatePicker").datetimepicker({
        icons: {
            time: "fas fa-clock",
            date: "fas fa-calendar",
            up: "fas fa-arrow-up",
            down: "fas fa-arrow-down"
        },
        format: "L"
    });
    $("#closeDatePicker").datetimepicker({
        icons: {
            time: "fas fa-clock",
            date: "fas fa-calendar",
            up: "fas fa-arrow-up",
            down: "fas fa-arrow-down"
        },
        format: "L"
    });
</script>
</body>
</html>
